/*
    Current color Scheme : #627E95
    Old color Scheme : #336688
*/
html, body {
    margin:0;
    padding:0;
    
    font-family: "Open Sans", Arial, sans-serif;
    background-color: #DDD;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}   

body .hidden,
.list-title-separator h2.hidden {
    display: none;
    opacity: 0;
}

header, .login-overlay, .login-wrapper {
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;   
}

body.loggedout header, 
body.loggedout main {
    -webkit-filter: blur(10px);
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);
         -o-filter: blur(10px);
            filter: blur(10px);
}

header {
    height: 50px; 
    
    background-color: #336688;
    overflow: hidden;
    
    position: fixed;
    top:0; left:0; right:0;
    
    z-index: 200;
    
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

header.dropped {
    height: 320px;
}

#mainCamera {
    -webkit-perspective: 2000px;
       -moz-perspective: 2000px;
        -ms-perspective: 2000px;
         -o-perspective: 2000px;
            perspective: 2000px;   
}

main {
    -webkit-transform-origin: 50% 50%;
       -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
         -o-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s; 
    
    -webkit-transform: scale(1.0) translate3d(0, 0, 0);
       -moz-transform: scale(1.0) translate3d(0, 0, 0);
        -ms-transform: scale(1.0) translate3d(0, 0, 0);
         -o-transform: scale(1.0) translate3d(0, 0, 0);
            transform: scale(1.0) translate3d(0, 0, 0); 
    
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s, -webkit-filter 0.5s;
       -moz-transition: -moz-transform 0.5s, opacity 0.5s, -moz-filter 0.5s;
        -ms-transition: -ms-transform 0.5s, opacity 0.5s, -ms-filter 0.5s;
         -o-transition: -o-transform 0.5s, opacity 0.5s, -o-filter 0.5s;
            transition: transform 0.5s, opacity 0.5s, filter 0.5s;
    
    margin-top: 50px;
}

main.drawnback {
    opacity: 0.3;
    
    -webkit-transform: scale(0.9) translate3d(0, 0, 0);
       -moz-transform: scale(0.9) translate3d(0, 0, 0);
        -ms-transform: scale(0.9) translate3d(0, 0, 0);
         -o-transform: scale(0.9) translate3d(0, 0, 0);
            transform: scale(0.9) translate3d(0, 0, 0);
}

main.slidOut {
    transform: translate3d(-100px, 0px, -500px) rotateY(45deg);
    transform-origin: 0px 0px;
    opacity: 0.5;    
}

main.blurry {
    -webkit-filter: blur(5px);
       -moz-filter: blur(5px);
        -ms-filter: blur(5px);
         -o-filter: blur(5px);
            filter: blur(5px);    
}

.templates-overlay {
    position: fixed;
    top:50px;
    left:0;
    right:0;
    bottom:0;
    
    margin: auto;
    padding: 0;
    
    z-index: 20000;
    background-color: rgba(255, 255, 255, 0.8);
    
    opacity: 0.0;
    display: none;
    
    overflow-y: auto;
    
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}

.templates-overlay.shown {
    opacity: 1.0;
} 

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    
    color: #FFF;
    margin:0 0 0 6px;
    padding:0;
    
    font-weight: 100;
    
    display: inline-block;
}

h1 b {
    color: #FFF;
    font-weight: 400;
}

h1 small {
    font-size: 14px;
    font-weight: 900;
    opacity: 0.5;
}

h3.loaded {
    font-weight: 100;   
    color: #1A3;
} 

/* LOGIN */
body.loggedout .login-overlay { 
    opacity: 1;   
}

.login-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom:0; top:0; left:0; right:0;
    
    z-index: 10000;
    
    opacity: 0;
}

.login-wrapper {
    width: 320px;
    
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
        -ms-border-radius: 10px;
         -o-border-radius: 10px;
            border-radius: 10px;
    
    margin: 200px auto 0px;
    overflow: hidden;
    
    opacity: 0;
    
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
}

.login-wrapper.shown {
    opacity: 1;   
}

.login-wrapper form {
    border: 1px solid #CCC;   
}

.login-wrapper form input {
    width: 100%;
    padding: 14px;
    
    border: none;
    font-size: 12px;
}

.login-wrapper form input:first-child {
    border-bottom: 1px solid #DDD; 
    text-transform: capitalize;
}

.login-title {
    padding: 18px;
    text-transform: uppercase;
    
    background-color: #282832;
    color: #EFEFEF;
    font-size: 14px;
    
    text-align: center;
}

.login-container {
    padding: 18px; 
    
    background-color: #FFF;
}

.login-action-container {
    text-align: right;   
    position: relative;
}

.login-ajax-loader {
    position: absolute;
    bottom: 0px;
    left: 0px;
    
    display: none;
}

.login-action-container button {
    background-color: #32CC73;
    padding: 12px 20px;
    border: 0px;
    
    color: #FFF;
    font-weight: 700;
    
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
        -ms-border-radius: 10px;
         -o-border-radius: 10px;
            border-radius: 10px;
    
    cursor: pointer;
}

.header-user-box {
    cursor: pointer;
    
    position:absolute;
    right:0;
    top:0;
    height: 30px;
    padding: 10px;
    
    z-index: 100;
}   

.header-user-box span {
    display: inline-block;
    vertical-align: middle;
    
    color: #FFF;
    margin-right: 10px;
}

.header-user-box img {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
        -ms-border-radius: 30px;
         -o-border-radius: 30px;
            border-radius: 30px;
}

.header-user-box:hover {
    background-color: rgba(0, 0, 0, 0.1);   
}

.header-user-actions-list {
    list-style: none;
    display: block;
    padding:0;
    margin:45px 0px 0px 0px;
    
    text-align: center;
    
    position:relative;
    z-index: 1000;
}

.header-user-actions-list li {
    display: inline-block;
    vertical-align: top;
    margin: 0px 20px;
    padding: 20px;
    
    text-align: center;
    
    cursor: pointer;
    
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
        -ms-border-radius: 10px;
         -o-border-radius: 10px;
            border-radius: 10px;
}

.header-user-actions-list li:hover {
    background-color: rgba(0, 0, 0, 0.5);   
}

.header-user-actions-list li.semi-trans:hover {
    background-color: transparent;   
}

.header-user-actions-list li img {
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
    
    height: 80px;
}

.header-user-actions-list li span {
    display: block;
    text-align: center;
    
    color: #FFF;
    font-size: 18px;
    
    text-transform: uppercase;
}   

.dashboard-topbar-wrapper {
    height: 280px;
    background-color: #333;
    
    position:relative;
    overflow: hidden;
}

.invalid {
    background-color: #FFCC99;
}   

.speedometer-big-wrapper {
    width: 480px;
    height: 480px;
    
    -webkit-border-radius: 380px;
       -moz-border-radius: 380px;
        -ms-border-radius: 380px;
         -o-border-radius: 380px;
            border-radius: 380px; 
    
    overflow: hidden;
    
    top: 40px;
    position: relative;
    transform: scale(0.8);    
}

.speedometer-canvas-wrapper {
    width: 480px;
    height: 240px;
    
    overflow: hidden; /* Clip everything inside */
    position:relative;
}

.speedometer-white-top {
    width: 360px;
    height: 360px;
    position:absolute;
    top: 60px;
    left: 60px;
    
    text-align: center;
    padding-top: 80px;
    
    background-color: #DDD;
    
    -webkit-border-radius: 380px;
       -moz-border-radius: 380px;
        -ms-border-radius: 380px;
         -o-border-radius: 380px;
            border-radius: 380px; 
    
    z-index: 10;
}

.speedometer-workload-percent {
    margin: 0;
    font-size: 42px;
}

.speedometer-gauge {
    position:absolute;
    top: 240px;
    
    width: 480px;
    height: 240px;
    
    -webkit-transform-origin: 50% 0%;
       -moz-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
         -o-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    
    background-color: #336688;
    
    -webkit-transform: rotateZ(140deg);
       -moz-transform: rotateZ(140deg);
        -ms-transform: rotateZ(140deg);
         -o-transform: rotateZ(140deg);
            transform: rotateZ(140deg);
    
    -webkit-transition: all 0.2s;
       -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
         -o-transition: all 0.2s;
            transition: all 0.2s;
}

.daily-progress-points-canvas {
    position:absolute;
    
    top:10px;
    right:10px;
    left: 450px; 
    bottom: 10px;
}

.semi-trans {
    opacity: 0.4;   
}

.semi-blurry {
    -webkit-filter: blur(2px);
       -moz-filter: blur(2px);
        -ms-filter: blur(2px);
         -o-filter: blur(2px);
            filter: blur(2px);   
}

.color-tag {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    padding: 2px 5px;
    
    margin: 0px 4px;
    
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
        -ms-border-radius: 6px;
         -o-border-radius: 6px;
            border-radius: 6px;
    
    vertical-align: middle;
    color: #FFF;
    font-weight: 600;
}

.projects-list-wrapper {
    display: block;
}

.projects-list-wrapper ul {
    
}

.projects-list-wrapper ul li {
    position:relative;
}

.projects-list-wrapper ul li .project-abs-container {
    cursor: pointer;   
}

ul.zendesk-ticket-list li {
    padding: 12px 16px;   
    cursor: pointer;
    
    position:relative;
}

ul.zendesk-ticket-list li img {
    height: 24px;
    vertical-align: middle;
    margin-right: 6px;
    opacity: 0.7;    
}

li.empty-message center {
    font-size: 24px;
    color: #CCC;
    font-weight: 100;
    padding: 30px 0px;    
}

.projects-list-wrapper ul li .project-abs-container {
    position: relative;
    
    z-index: 10;
    padding: 12px 16px;
}   

.projects-list-wrapper ul li .project-progress-bar {
    position: absolute;
    top:0; left:0;right:0;
    
    height: 50px;
    
    z-index: 5;
    background-color: rgba(80, 195, 80, 0.2);
    
    -webkit-transition: all 1s;
       -moz-transition: all 1s;
        -ms-transition: all 1s;
         -o-transition: all 1s;
            transition: all 1s;
    
    width: 0%;
}

.projects-list-wrapper ul li img {
    width: 24px;
    display: inline-block;
    vertical-align: middle;
    
    margin-right: 6px;
}

.module-list-wrapper {
    display: none;
    font-size: 12px;
    padding: 22px;
    
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
    
    background-color: #F3F3F3;
}

.module-list-wrapper.expanded {
    display: block;
}

.module-list-wrapper p {
    margin: 0px 0px 20px;
    font-size: 13px;
    color: #111;    
}

.module-list li {
    margin: 6px 0px;   
    cursor: pointer;
}

/* Name */
.projects-list-wrapper ul li span:nth-child(2) {
    text-transform: capitalize;
    display: inline-block;
    margin-right: 10px;
}

/* Stage */
.projects-list-wrapper ul li span.color-tag:nth-child(3) {
    background-color: #99C95B;
}

/* Status */
.projects-list-wrapper ul li span.color-tag:nth-child(4) {
    background-color: #2881DE;
}

.projects-list-wrapper ul li .module-list-wrapper span.color-tag {
    background-color: #DE8128; 
    font-size: 11px;
    margin-left: 6px;
}

.projects-list-wrapper ul li .module-list-wrapper span.color-tag.perc-tag {
    background-color: #777; 
    font-size: 11px;
    margin-left: 6px;      
}

.projects-list-wrapper ul li .module-list-wrapper img {
    height: 20px;
    vertical-align: middle;
}  

.live-project-list li {
    opacity: 0.5;
    background-color: rgba(80, 195, 80, 0.2);
}

.project-status-blocked {
    opacity: 0.5;
}

.live-project-list .project-progress-bar {
    display: none;   
}

ul.zendesk-ticket-list li .color-tag.ticket-status-open {
    background-color: #FF2634;
}

ul.zendesk-ticket-list li .color-tag.ticket-status-pending {
    background-color: #9BD6EC;
}

ul.zendesk-ticket-list li .color-tag {
    background-color: #CCC;
}

.list-title-separator {
    background-color: #336688;
    padding: 6px 16px;
    
    position: relative;
}

.list-title-separator h2 {
    color: #FFF;
    font-weight: 100;
    
    padding: 0;
    margin: 0;
    
    display: inline-block;
}

.list-title-separator .list-title-floatright {
    float: right;
    margin-top: 6px;
    margin-right: 0;
    height: 22px;
    
    cursor: pointer;
}

.list-title-separator span {
    vertical-align: middle;
    display: inline-block; 
}

.list-title-separator img {
    vertical-align: middle;
    display: inline-block;
    height: 22px;
    margin-right: 12px;
}

.instagram-history-title {
    cursor: pointer;   
}

.instagram-history-canvas {
    margin: 30px 20px 20px 20px;
}

.column-dash-wrapper {
    width: 33.33%;
    float: left;
    
    display: block;
}

li .module-list {
    margin-bottom: 20px;
}

li .module-list-wrapper a {
    color: rgb(222, 129, 40);
    margin-right: 12px;
    
    text-decoration: none;
}

li .module-list-wrapper a:hover {
    text-decoration: underline;   
}

.column-dash-wrapper .column-dash-container {
    margin: 12px;  
    
    display: block;
    float: none;
    clear: both;
    
    background-color: #FFF;
    
    overflow : hidden;
    
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
        -ms-border-radius: 10px;
         -o-border-radius: 10px;
            border-radius: 10px;
}

.chartbeat-graph {
    display: block;
    padding: 20px;
}

.chartbeat-graph canvas {
    width: 100%;   
}

.chartbeat-realtime {
    padding-top: 2px;
    font-size: 48px;
    
    text-align: center;
}

.small-center-notice {
    text-align: center;
    color: #CCC;
    
    display:block;
    margin-bottom: 10px;
    
    font-size: 12px;
    text-transform: uppercase;
}


/* Templates */
.template-card {
    padding: 30px;   
}

.template-card .template-card-title {
    font-size: 34px;
    box-shadow: none;
    font-family: "Raleway", Arial, sans-serif;    
}

.template-card .template-card-desc {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    
    font-size: 16px;
    color: #777;
    height: 100px;
    border-bottom: 1px solid #CCC;
    resize: none;
}   

.template-card .template-selectbox {
    font-size: 16px;
    width: 100px;    
    
    margin-left: 10px;
}
.template-card .template-selectbox-big {
    width: 200px;   
}

.template-card-actions {
    display: block;
    text-align: right;
    
    margin-top: 20px;
}

.template-card-actions button {
    padding: 8px 15px;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    
    background-color: #777;
    
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
        -ms-border-radius: 5px;
         -o-border-radius: 5px;
            border-radius: 5px;
    
    margin-left: 10px;
    cursor: pointer;
    border: 0;
}

.template-card-actions button.template-card-dismiss {
    background-color: #777;   
}

.template-card-actions button.template-card-save {
    background-color: #8AC007;   
}

.template-card h3 {
    font-size: 32px;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 400;    
}

.template-card p {
    font-size: 12px;
    color: #333;
    margin: 0px 0px 12px;    
}

.cancel-project-list li {
    cursor: pointer;
    padding: 10px;
}

.cancel-project-list li:hover {
    background-color: rgba(255, 0, 0, 0.5);   
}

.invisible-textbox {
    border: 0;
    background-color: transparent;
    width: 100%;    
}

.clickable-table-list {
    padding: 10px;   
    width: 100%;
    
    border-spacing: 0px;
    border-collapse: separate;    
}

.clickable-table-list thead th {
    text-align: left;   
}

.clickable-table-list tbody img {
    height: 24px;   
    vertical-align: middle;
    margin-right: 6px;
}

.clickable-table-list tbody span {
    vertical-align: middle;   
}

.clickable-table-list tbody tr {
    cursor: pointer;   
}

.clickable-table-list tbody tr:hover {
    background-color: #EEE;
}

.social-history-header {
    padding: 10px;
    font-weight: 100;
}

.social-history-header img {
    height: 128px;
    
    -webkit-border-radius: 80px;
       -moz-border-radius: 80px;
        -ms-border-radius: 80px;
         -o-border-radius: 80px;
            border-radius: 80px;
    
    display: inline-block;
    vertical-align: top;
    
    margin-right: 10px;
}

.social-history-bignum {
    font-size: 24px;
}

.social-history-bignum span {
    font-weight: 600;
    
}

.social-history-bignum {
    display: inline-block;
    vertical-align: top;
}

.pad20 {
    padding: 20px;   
}

/* Animated header */
header .animatedHeaderWrapper {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom: 0;
	
	z-index: 100;	
    
    -webkit-transform: translate3d(0,0,0);
       -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
         -o-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
}

header .animatedHeaderWrapper.animatedHeaderWrapper1 {
	background-image: url("uploads/banner.jpg");
	
	-webkit-animation: animatedHeaderWrapperKF1 40s linear 0s infinite;
	   -moz-animation: animatedHeaderWrapperKF1 40s linear 0s infinite;
		-ms-animation: animatedHeaderWrapperKF1 40s linear 0s infinite;
		 -o-animation: animatedHeaderWrapperKF1 40s linear 0s infinite;
			animation: animatedHeaderWrapperKF1 40s linear 0s infinite;	
			
	opacity: 0.05;
	z-index: 50;
}

header .animatedHeaderWrapper.animatedHeaderWrapper2 {
	background-image: url("uploads/banner.jpg");
	
	-webkit-animation: animatedHeaderWrapperKF2 70s linear 0s infinite;
	   -moz-animation: animatedHeaderWrapperKF2 70s linear 0s infinite;
		-ms-animation: animatedHeaderWrapperKF2 70s linear 0s infinite;
		 -o-animation: animatedHeaderWrapperKF2 70s linear 0s infinite;
			animation: animatedHeaderWrapperKF2 70s linear 0s infinite;	
		
	opacity: 0.05;	
	z-index: 50;
}

/* 3D slides */
/* Live Traffic Big Slide */
#live-slide {
    display: none;
    
    position:fixed;
    top:50px;
    bottom:0;
    left:0;
    right:0;
    
    -webkit-transform: translate3d(100%, 0px, 0px);
       -moz-transform: translate3d(100%, 0px, 0px);
        -ms-transform: translate3d(100%, 0px, 0px);
         -o-transform: translate3d(100%, 0px, 0px);
            transform: translate3d(100%, 0px, 0px);
    
    opacity: 0.0;
    
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
    
    background-color: #333333;
    
    z-index: 100;
    
    color: #FFF;
}

#live-slide.slidIn {
    -webkit-transform: translate3d(0%, 0px, 0px);
       -moz-transform: translate3d(0%, 0px, 0px);
        -ms-transform: translate3d(0%, 0px, 0px);
         -o-transform: translate3d(0%, 0px, 0px);
            transform: translate3d(0%, 0px, 0px);  
    
    opacity: 1.0;
}

.live-traffic-topbar {
    color: #999;
    font-weight: 100;
    
    text-align: center;
}

.live-traffic-topbar span {
    display: inline-block;
    vertical-align: middle;
}

.live-traffic-topbar span.live-traffic-topbar-count {
    font-size: 56px;
    color: #FFF;
    
    font-family: "Raleway", sans-serif;
}

@media all and (max-width: 1200px) {
    .column-dash-wrapper {
        width: 50%;       
    }
    
    .header-user-actions-list {
        margin-top: 60px;   
    }
    
    .header-user-actions-list li {
        margin: 0px 10px;   
    }
    
    .header-user-actions-list li span {
        font-size: 14px;
    }   
    
    .header-user-actions-list li img {
        height: 50px;       
    }
}

@media all and (max-width: 800px) {
    .column-dash-wrapper {
        width: auto;    
        float: none;
    }    
    
    main {
        margin-top: 60px;   
    }
    
    .header-user-actions-list {
        margin-top: 10px;   
    }
    
    .header-user-actions-list li {
        margin: 4px;   
        padding: 4px;
    }  
    
    .header-user-actions-list li span {
        font-size: 11px;
    }   
    
    .header-user-actions-list li img {
        height: 30px;       
    }    
    
    header.dropped {
        height:220px;
        margin-bottom: -120px;
    }
    
    .nomobile {
        display: none;   
    }
    
    .chartbeat-realtime {
        font-size: 32px;    
    }
    
    .projects-list-wrapper ul li img,
    .projects-list-wrapper ul li .project-abs-container span.color-tag:nth-child(4), 
    .projects-list-wrapper ul li .project-abs-container span.color-tag:nth-child(3),
    .header-user-box span.header-user-name, 
    .dashboard-topbar-wrapper,
    ul.zendesk-ticket-list li img
    {
        display: none;       
    }
}


@-webkit-keyframes animatedHeaderWrapperKF1 {0%{background-position: 0px 422px;}	100% {background-position: 1475px 0px;}}
@-moz-keyframes animatedHeaderWrapperKF1 	{0%{background-position: 0px 422px;}	100% {background-position: 1475px 0px;}}
@-ms-keyframes animatedHeaderWrapperKF1 	{0%{background-position: 0px 422px;}	100% {background-position: 1475px 0px;}}
@-o-keyframes animatedHeaderWrapperKF1 		{0%{background-position: 0px 422px;}	100% {background-position: 1475px 0px;}}
@keyframes animatedHeaderWrapperKF1 		{0%{background-position: 0px 422px;}	100% {background-position: 1475px 0px;}}

@-webkit-keyframes animatedHeaderWrapperKF2 {0%{background-position: 200px 622px;}	100% {background-position: 1675px 200px;}}
@-moz-keyframes animatedHeaderWrapperKF2 	{0%{background-position: 200px 622px;}	100% {background-position: 1675px 200px;}}
@-ms-keyframes animatedHeaderWrapperKF2 	{0%{background-position: 200px 622px;}	100% {background-position: 1675px 200px;}}
@-o-keyframes animatedHeaderWrapperKF2 		{0%{background-position: 200px 622px;}	100% {background-position: 1675px 200px;}}
@keyframes animatedHeaderWrapperKF2 		{0%{background-position: 200px 622px;}	100% {background-position: 1675px 200px;}}

@-webkit-keyframes animatedHeaderColorChange{0%{background-color: rgb(92, 49, 13);}	50% {background-color:#834a21} 100%{background-color: rgb(92, 49, 13);}}
@-moz-keyframes animatedHeaderColorChange 	{0%{background-color: rgb(92, 49, 13);}	50% {background-color:#834a21} 100%{background-color: rgb(92, 49, 13);}}
@-ms-keyframes animatedHeaderColorChange 	{0%{background-color: rgb(92, 49, 13);}	50% {background-color:#834a21} 100%{background-color: rgb(92, 49, 13);}}
@-o-keyframes animatedHeaderColorChange 	{0%{background-color: rgb(92, 49, 13);}	50% {background-color:#834a21} 100%{background-color: rgb(92, 49, 13);}}
@keyframes animatedHeaderColorChange 		{0%{background-color: rgb(92, 49, 13);}	50% {background-color:#834a21} 100%{background-color: rgb(92, 49, 13);}}